<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
     	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        
        <!-- session线程管理 -->
       
        <property name="hibernate.current_session_context_class">
        org.springframework.orm.hibernate4.SpringSessionContext 
        </property>
       
         
         <!-- 支持二级缓存 -->
         <property name="hibernate.cache.use_second_level_cache">true</property>
         <!-- 二级缓存的工厂类 -->
         <property name="hibernate.cache.region.factory_class">
         	org.hibernate.cache.ehcache.EhCacheRegionFactory
         </property>
         
         <!-- 支持查询缓存 -->
         <property name="hibernate.cache.use_query_cache">true</property>
         
    </session-factory>
</hibernate-configuration>
